<!DOCTYPE html>
<html>

<head>
  <title><%= __('TITLE_CHOOSE_PASSWORD') %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
</head>

<body>
  <noscript>We apologize, but resetting your password requires javascript</noscript>
  <div class="error" id="error"></div>

  <div class="container py-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card card-outline-secondary">
          <div class="card-header">
            <h6 class="mb-0">
              <%= __('NEW_PASSWORD_FOR') %> <span id="username_label"></span>
            </h6>
          </div>
          <div class="card-body">
            <form id="form" action="#" method="POST">

              <input name="utf-8" type="hidden" value="✓" />
              <input name="username" id="username" type="hidden" />
              <input name="token" id="token" type="hidden" />

              <div class="form-group">
                <label for="password"><%= __('NEW_PASSWORD') %></label>
                <input type="password" class="form-control" name="new_password" id="password">
              </div>
              <div class="form-group">
                <label for="password_confirm"><%= __('CONFIRM_NEW_PASSWORD') %></label>
                <input type="password" class="form-control" name="confirm_new_password" id="password_confirm">
                <span class="form-text small text-muted" id="password_match_info">
                </span>
              </div>
              <div class="form-group">
                <button class="btn btn-success btn-lg float-right" id="change_password">
                  <%= __('SAVE') %>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script language='javascript' type='text/javascript'>
    window.onload = function () {
      var urlParams = {};
      (function () {
        var pair, // Really a match. Index 0 is the full match; 1 & 2 are the key & val.
          tokenize = /([^&=]+)=?([^&]*)/g,
          // decodeURIComponents escapes everything but will leave +s that should be ' '
          re_space = function (s) {
            return decodeURIComponent(s.replace(/\+/g, " "));
          },
          // Substring to cut off the leading '?'
          querystring = window.location.search.substring(1);

        while (pair = tokenize.exec(querystring))
          urlParams[re_space(pair[1])] = re_space(pair[2]);
      })();

      var id = urlParams['id'];
      var base = '<%= process.env.PUBLIC_SERVER_URL + process.env.PARSE_SERVER_MOUNT %>';

      document.getElementById('form').setAttribute('action', base + '/apps/' + id +
        '/request_password_reset');
      document.getElementById('username').value = urlParams['username'];
      document.getElementById('username_label').appendChild(document.createTextNode(urlParams['username']));
      document.getElementById('password').oninput = validatePassword;
      document.getElementById('password_confirm').oninput = validatePassword;
      document.getElementById('change_password').disabled = true;

      document.getElementById('token').value = urlParams['token'];
      if (urlParams['error']) {
        document.getElementById('error').appendChild(document.createTextNode(urlParams['error']));
      }
      if (urlParams['app']) {
        document.getElementById('app').appendChild(document.createTextNode(' for ' + urlParams['app']));
      }

      function validatePassword() {
        var pass2 = document.getElementById('password').value;
        var pass1 = document.getElementById('password_confirm').value;
        if (pass1 !== pass2) {
          if (document.getElementById('password_confirm').value) {
            document.getElementById('change_password').disabled = true;
            document.getElementById('password_match_info').innerHTML = '<%= __("ERROR_PASSWORD_CONFIRM") %>';
          }
        } else {
          document.getElementById('change_password').disabled = false;
          document.getElementById('password_match_info').innerHTML = '';
        }
      }

    }
  </script>
</body>

</html>