<md-content class="login-content" layout layout-align="center">
    <md-card flex-gt-sm="55" flex="100">
      <% if (locals.flash) { %>
      <md-toolbar class="md-accent">
          <p class="md-toolbar-tools">
            <small><%= flash %> </small>
          </p>
        </md-toolbar>
        <br>
      <% } %>
      <form name="form" action="/vendor" enctype="multipart/form-data" method="post">
        <md-card-content layout="column">
          <md-input-container>
            <label>{{ 'NAME' | translate }}</label>
            <input type="text" placeholder name="name"
              value="<%= (locals.input) ? input.name : '' %>">
          </md-input-container>
          <md-input-container>
            <label>{{ 'USERNAME' | translate }}</label>
            <input type="text" placeholder name="username"
            value="<%= (locals.input) ? input.username : '' %>">
          </md-input-container>
          <md-input-container>
            <label>{{ 'EMAIL' | translate }}</label>
            <input type="text" placeholder name="email"
            value="<%= (locals.input) ? input.email : '' %>">
          </md-input-container>
          <md-input-container>
            <label>{{ 'Mobile' | translate }}</label>
            <input type="text" placeholder name="mobile"
            value="<%= (locals.input) ? input.mobile : '' %>">
          </md-input-container>
          <md-input-container>
            <label>{{ 'PASSWORD' | translate }}</label>
            <input type="password" placeholder name="password">
          </md-input-container>
          <md-input-container>
            <label>{{ 'CONFIRM_PASSWORD' | translate }}</label>
            <input type="password" placeholder name="passwordConfirmation">
          </md-input-container>

          <div layout="row" layout-align="start center">
            <md-input-container md-no-float>
              <label>{{ 'UPLOAD_PICTURE' | translate }}</label>
              <input type="text" ng-value="obj.photo.name()" disabled placeholder>
            </md-input-container>
  
            <ng-md-icon icon="photo_camera" class="photo-camera" ng-class="{ 'icon-active': obj.photo.url() }"
              ngf-select="uploadImage($file)" ngf-pattern="'image/*'" accept="image/*">
              <md-tooltip>
                {{ 'CHOOSE_FILE' | translate }}
              </md-tooltip>
            </ng-md-icon>
            <md-progress-circular class="md-primary" md-diameter="30" ng-if="isUploading">
            </md-progress-circular>
          </div>

          <label for="addimage" class="col-9 col-form-label">Add Image</label>
                <div class="col-12">
                  <input type="file" class="form-control-file" name="image" required> 
              </div>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="end center">
          <md-button type="submit" md-no-ink class="md-primary">
            {{ 'SAVE' | translate }}
          </md-button>
        </div>
      </form>
    </md-card>
  </md-content>
  